# Java
*.class
**/*.class

# Compiled files
target/
*.jar
*.war
*.ear

# Logs
logs/
*.log
Logs/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
.mvn/
!/.mvn/wrapper

# Selenium test artifacts
videos/
allure-report/

# OS Files
.DS_Store
Thumbs.db
