# Java
*.class
*.jar
*.war
*.ear

# Logs
logs
*.log
Logs/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
*.mvn

# Selenium test artifacts
videos/
allure-report/

# OS Files
.DS_Store
Thumbs.db
