<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" name="XMLConfigTest">
    <!--    <Configuration status="WARN">-->
    <!--    Logging Properties-->
    <Properties>
        <Property name="LOG_PATTERN">%d{dd:MM:yyyy HH:mm:ss.SSS} %-5level %logger{36} [%t] - %M %m%n</Property>
        <Property name="basePath">Logs</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling appender-->
        <RollingFile name="rollingFile" fileName="${basePath}/ExecutionLog.log"
                     filePattern="${basePath}/application.%d{MM-dd-yy}.log.gz"
                     ignoreExceptions="false">
            <!--            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG"-->
            <!--                              onMatch="ACCEPT"-->
            <!--                              onMismatch="DEBUG"/>-->
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="testSuite" level="trace" additivity="false">
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>